@model Event_Ease.Models.Venue

<h1>Create Venue</h1>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="VenueName"></label>
        <input asp-for="VenueName" class="form-control" />
        <span asp-validation-for="VenueName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VenueLocation"></label>
        <input asp-for="VenueLocation" class="form-control" />
        <span asp-validation-for="VenueLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>
<form asp-action="Create" enctype="multipart/form-data">
    ...
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    ...
</form>

<a asp-action="Index">Back to List</a>
